.profile-img {
  img {
    width: 10rem;
    height: 10rem;
    border-radius: 0.5rem;
  }
}

// .input {
//   padding: 0.3rem;
//   border: 1px solid black;
//   border-radius: 3px;
//   outline: none;
// }

.info-part {
  width: 40%;
}

.tabs-part {
  width: 60%;
}

.unclicked-btn {
  background-color: white;
  border-radius: 0 !important;
}

.clicked-btn {
  border-color: black;
  border-radius: 0 !important;
  // border: 1px solid #f5f5f5;
}
