<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/cf1e7a5c-d460-49d4-bc07-46d701fb858a/resourcegroups/BlobStorage/providers/Microsoft.Web/sites/AccountingAPI20230825215834</ResourceId>
    <ResourceGroup>BlobStorage</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://accountingapi20230825215834.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>49dee4ee-aef0-4baa-a908-df1d86f42444</ProjectGuid>
    <PublishUrl>https://accountingapi20230825215834.scm.azurewebsites.net/</PublishUrl>
    <UserName>$AccountingAPI20230825215834</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>